.copyright {
    color: #545454;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 767px) {
    .copyright {
        font-size: 18px;
    }
}

