.popup__close {
    position: absolute;
    top: -30px;
    right: 0;
    color: #fff;
    width: 20px;
    height: 20px;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (min-width: 767px) {
    .popup__close {
        width: 32px;
        height: 32px;
        top: -36px;
        right: -40px;
    }
}